#cloud-config
# Jinja2 : mcc, mnc, n2_ip, n4_ip, upf_edge_n4, upf_act_n4 (additionalParamsForVnf)
hostname: core-5g
package_update: true
packages:
  - ca-certificates
  - gnupg
  - curl
  - iperf3
write_files:
  - path: /etc/open5gs/custom/amf.yaml
    content: |
      logger:
        file: /var/log/open5gs/amf.log
      global:
        max:
          ue: 128
      amf:
        sbi:
          server:
            - address: 127.0.0.5
              port: 7777
          client:
            scp:
              - uri: http://127.0.0.200:7777
        ngap:
          server:
            - address: {{ n2_ip }}
        metrics:
          server:
            - address: 0.0.0.0
              port: 9091
        guami:
          - plmn_id: {mcc: {{ mcc }}, mnc: {{ mnc }}}
            amf_id: {region: 2, set: 1}
        tai:
          - plmn_id: {mcc: {{ mcc }}, mnc: {{ mnc }}}
            tac: 1
        plmn_support:
          - plmn_id: {mcc: {{ mcc }}, mnc: {{ mnc }}}
            s_nssai:
              - sst: 1
                sd: "657502"   # convention decimale du banc - a confirmer (champ 24 bits)
              - sst: 2
                sd: "791515"
        security:
          integrity_order: [NIA2, NIA1, NIA0]
          ciphering_order: [NEA0, NEA1, NEA2]
        network_name:
          full: FieldAssist5G
        amf_name: amf-fieldassist
  - path: /etc/open5gs/custom/smf.yaml
    content: |
      logger:
        file: /var/log/open5gs/smf.log
      global:
        max:
          ue: 128
      smf:
        sbi:
          server:
            - address: 127.0.0.4
              port: 7777
          client:
            scp:
              - uri: http://127.0.0.200:7777
        pfcp:
          server:
            - address: {{ n4_ip }}
          client:
            upf:
              - address: {{ upf_edge_n4 }}
                dnn: EDGE
              - address: {{ upf_act_n4 }}
                dnn: actuation
        gtpc:
          server:
            - address: 127.0.0.4
        gtpu:
          server:
            - address: {{ n4_ip }}
        session:
          - subnet: 10.45.0.0/16
            gateway: 10.45.0.1
            dnn: EDGE
          - subnet: 10.46.0.0/16
            gateway: 10.46.0.1
            dnn: actuation
        dns:
          - 8.8.8.8
        mtu: 1400
        info:
          - s_nssai:
              - sst: 1
                sd: "657502"
                dnn: [EDGE]
              - sst: 2
                sd: "791515"
                dnn: [actuation]
  - path: /etc/open5gs/custom/nssf.yaml
    content: |
      logger:
        file: /var/log/open5gs/nssf.log
      nssf:
        sbi:
          server:
            - address: 127.0.0.14
              port: 7777
          client:
            scp:
              - uri: http://127.0.0.200:7777
            nsi:
              - uri: http://127.0.0.10:7777
                s_nssai:
                  sst: 1
                  sd: "657502"
              - uri: http://127.0.0.10:7777
                s_nssai:
                  sst: 2
                  sd: "791515"
  - path: /usr/local/bin/register-subscribers.sh
    permissions: '0755'
    content: |
      #!/bin/bash
      # Enregistre les 2 UE de test (eMBB / URLLC) dans la base Open5GS
      set -e
      cd /opt/open5gs-dbctl || { git clone --depth 1 https://github.com/open5gs/open5gs /opt/o5gs-src; mkdir -p /opt/open5gs-dbctl; cp /opt/o5gs-src/misc/db/open5gs-dbctl /opt/open5gs-dbctl/; }
      DBCTL=/opt/open5gs-dbctl/open5gs-dbctl
      chmod +x $DBCTL
      $DBCTL add_ue_with_slice {{ mcc }}{{ mnc }}0000000001 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA EDGE 1 657502 || true
      $DBCTL add_ue_with_slice {{ mcc }}{{ mnc }}0000000002 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA actuation 2 791515 || true
runcmd:
  - add-apt-repository -y ppa:open5gs/latest
  - apt-get update
  - apt-get install -y open5gs mongodb-org || apt-get install -y open5gs
  # Plan utilisateur au MEC : pas d'UPF local
  - systemctl disable --now open5gs-upfd || true
  # Configurations specifiques (AMF / SMF / NSSF)
  - cp /etc/open5gs/custom/amf.yaml /etc/open5gs/amf.yaml
  - cp /etc/open5gs/custom/smf.yaml /etc/open5gs/smf.yaml
  - cp /etc/open5gs/custom/nssf.yaml /etc/open5gs/nssf.yaml
  - systemctl restart open5gs-nrfd open5gs-scpd open5gs-amfd open5gs-smfd open5gs-ausfd open5gs-udmd open5gs-udrd open5gs-pcfd open5gs-nssfd open5gs-bsfd
  - bash /usr/local/bin/register-subscribers.sh
  # WebUI (port 9999 local) - optionnel
  - curl -fsSL https://open5gs.org/open5gs/assets/webui/install | bash - || true
