#!/usr/bin/env bash
# Copier en env.sh et adapter. IP de gestion des VM instanciees par OSM (osm ns-show / vnf-list).
export SSH_USER=ubuntu
export CORE_VM=192.168.100.30         # VM open5gs_core (osm3, mgmt)
export GNB_VM=192.168.100.21          # VM ueransim gNB (osm1, mgmt)
export EDGE_VM=192.168.100.20         # VM edge_platform (osm2, mgmt)
export EDGE_PLATFORM_IP=10.0.6.20     # IP N6 de la plateforme (vue des UE)
